<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./chat.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico'
	  rel='stylesheet' type='text/css'>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
	  rel="stylesheet" type="text/css">
    <script type="text/javascript">
        var languageFrom = "zh-cn";
        var languageTo = "en";
	
        function translate(text) {
            window.mycallback = function(response) {addTranslate(response); }
            var s = document.createElement("script");
            s.src =
            "http://api.microsofttranslator.com/V2/Ajax.svc/Translate?oncomplete=mycallback&appId=BFB3212B5FDA23673DA222B721F3D2B41CBF09DA&from="
            + languageFrom + "&to=" + languageTo + "&text=" + encodeURI(text);
            document.getElementsByTagName("head")[0].appendChild(s);
        }
    </script>
                         
    <script type="text/JavaScript">
    var ws;
    var id;
    var state = 0;
    var focus = true;
    var newMsg = false;
    function onFocus() {ws.send("/status/online");}
    function onBlur() {ws.send("/status/away");}
    function changeTitle(title) { document.title = title; }
function checkBlink()
{
    if (state == 0)
    {
	changeTitle('{{title}}');
	if (newMsg && !focus)
	{
	    state = 1;
	}
    }
    else if (state == 1)
    {
	state = 2;
	if (focus)
	    state = 0;
	else
	    changeTitle('**New Message**');
    }
    else if (state == 2)
    {
	changeTitle('** **');
	state = 1;
	if (focus)
	    state = 0;
    }
    setTimeout('checkBlink();',1000);
}

function padLeft(str,lenght){ 
    if(str.length >= lenght) 
	return str; 
    else 
	return padLeft("0" +str,lenght); 
} 
function padRight(str,lenght){ 
    if(str.length >= lenght) 
	return str; 
    else 
	return padRight(str+"0",lenght); 
}
function addTranslate(text){
    return;
    var date = new Date();
    document.getElementById('translate').innerHTML =
	"<font color='blue'>[" +
	padLeft(''+date.getHours(), 2) + ':' +	
	padLeft(''+date.getMinutes(), 2) + ':' +
	padLeft(''+date.getSeconds(), 2) + '] </font>' + text + "<br>" + document.getElementById('translate').innerHTML;			}
function StartsWith(s1, s2) {
    return (s1.length >= s2.length && s1.substr(0, s2.length) == s2);
}

function GetRadioValue(RadioName){
    var obj;    
    obj=document.getElementsByName(RadioName);
    if(obj!=null){
        var i;
        for(i=0;i<obj.length;i++){
            if(obj[i].checked){
                return obj[i].value;            
            }
        }
    }
    return null;
}
function select()
    {
        v = GetRadioValue('sel');
	if (v != null && v != "None")
		    ws.send("/choice/" + NameToID(v));
    }
    
var timeLeft;
function tick()
    {
       if (timeLeft == 0)
       {
           select();
           return;
       }
       timeLeft = timeLeft - 1;
       document.getElementById('counter').innerHTML = timeLeft;
       setTimeout('tick();',1000);
    }
		    
function chatStart(Total)
    {
       timeLeft = Total;
       sel = document.getElementById('select');
       sel.style.visibility = "visible";       
       setTimeout('tick();',1000);
    }

function NameToID(Name)
{
    var ID;
    if (Name == "Y")
        ID = "0";
    else if (Name == "R")
        ID = "1";
    else if (Name == "Z")
        ID = "2";
    else if (Name == "X")
        ID = "3";
    else if (Name == "M")
        ID = "4";
    else if (Name == "System")
        ID = "Sys";
    return ID;
}
		    
function IDToName(ID)
{
    if (ID == "0")
        ID = "Y";
    else if (ID == "1")
        ID = "R";
    else if (ID == "2")
        ID = "Z";
    else if (ID == "3")
        ID = "X";
    else if (ID == "4")
        ID = "M";
    else if (ID == "sys")
        ID = "System";
    return ID;
}

function IDToColor(ID)
{
    var color = ""
    if (ID == "0")
    {
        color = "#777700";
    }
    else if (ID == "1")
    {
        color = "#99003D";
    }
    else if (ID == "2")
    {
        color = "#006B24";
    }
    else if (ID == "3")
    {
        color = "#001A66";
    }
    else if (ID == "4")
    {
        color = "black";
    }
    else if (ID == "sys")
    {
        color = "#5A0000"
    }
    return color
}
function addStatus(text, ID){
    var date = new Date();
    var color = IDToColor(ID);

    
    document.getElementById('status').innerHTML =
	"<font color='blue'>[" +
	padLeft(''+date.getHours(), 2) + ':' +	
	padLeft(''+date.getMinutes(), 2) + ':' +
	padLeft(''+date.getSeconds(), 2) + '] </font>'  + "<font color = '" + color + "'>"+ IDToName(ID) + ":" + text
	+ "</font><br>" + document.getElementById('status').innerHTML;
}
function StartsWith(s1, s2) {
    return (s1.length >= s2.length && s1.substr(0, s2.length) == s2);
}
function send(){
    if (document.getElementById('words').value != ''){
	ws.send("/say/" + document.getElementById('words').value);
	document.getElementById('words').value = '';
    }  
}
function ready(){
    newMsg=false;
    focus=true;
    if ("WebSocket" in window) {
	ws = new WebSocket("ws://{{ ip }}:80/service");
    } else if ("MozWebSocket" in window) {
	ws = new MozWebSocket("ws://{{ ip }}:80/service");
    }
    if (ws) {
	setTimeout('checkBlink();',2000);
	// browser supports websockets
	ws.onopen = function() {
	    // websocket is connected
	    addStatus("websocket connected!", "sys");
	    // send hello data to server.
	    ws.send('/register/{{ email }}/{{sex}}');
	};
	ws.onmessage = function (evt) {
	    var receivedMsg = evt.data;
	    if(StartsWith(receivedMsg,'/status'))
	    {
		var parsed = receivedMsg.split('/');
		window.statusTable.rows[1].cells[parsed[2]].innerHTML=parsed[3];
                if (parsed[3] == "<font color='blue'>online" || parsed[3] == "<font color='yellow'>away")
	        {
                    window.statusTable.rows[0].cells[parsed[2]].innerHTML="<font color='" + IDToColor(parsed[2]) + "'>" + IDToName(parsed[2]);
	            if(parsed[2] == id)
	                window.statusTable.rows[0].cells[id].innerHTML=
	                window.statusTable.rows[0].cells[id].innerHTML
				    +  "(you)";
	        }
                if (parsed[3] == "offline")
	        {
	            window.statusTable.rows[0].cells[parsed[2]].innerHTML="empty";
	        }
	    }
	    else if(StartsWith(receivedMsg,'/say'))
	    {
		var parsed = receivedMsg.split('/');
                addStatus(parsed[3], parsed[2]);
		translate(receivedMsg);
		if(!focus)
		    newMsg = true;            
	    }
    	    else if(StartsWith(receivedMsg,'/joined'))
	    {
		var parsed = receivedMsg.split('/');    
		id = parsed[2];
	    }
	    else if(StartsWith(receivedMsg,'/event'))
	    {
		var parsed = receivedMsg.split('/');    
		var event = parsed[2];
	        if (event == "started")
	        {
	           chatStart(parseInt(parsed[3]));
	        }
	        if (event == "paired")
	        {
                   addStatus("Congra! "+IDToName(parsed[3]) + " and " + IDToName(parsed[4]) +
	" are now paired", "sys");	           
	        }
	        if (event == "info")
	        {
	           addStatus(IDToName(parsed[3]) +"(" + parsed[5] + ") has chosen you!" + " Email:" + parsed[4], "sys");
	        }
	        if (event == "end")
	        {
	           var obj;
	           addStatus("propose end!", "sys");
		       obj = document.getElementById('select');
		       obj.style.visibility = "hidden";
		       obj = document.getElementById('statusTable');
		       obj.style.visibility = "hidden";
		       obj = document.getElementById('counter');
		       obj.style.visibility = "hidden";       	      
	        }
	    }
	};
	ws.onclose = function() {
	    // websocket was closed
	    addStatus("websocket was closed", "sys");
	};
    } else {
	// browser does not support websockets
	addStatus("sorry, your browser does not support websockets.", "sys");
    }
}
    </script>
    
  </head>
  <body onload="ready();words.focus();" onfocus="focus = true; newMsg
      = false; onFocus();state = 0; checkBlink();"
	onblur="focus = false; onBlur();">
    <div id='wrapper'>
      <div id='header_div'>
	<h1>Imagine there's no country. <span>It isn't hard to
	do</span></h1>
      </div>
      <div id='middle_div'>
	<div id='user_list'>
	  <table id='statusTable' border='1'>
	    <tr>
	      <td>empty</td>
	      <td>empty</td>
	      <td>empty</td>
	      <td>empty</td>
	      <td>empty</td>
	    </tr>
	    <tr>
	      <td>offline</td>
	      <td>offline</td>
	      <td>offline</td>
	      <td>offline</td>
	      <td>offline</td>
	    </tr>
	  </table>
	  <div id='select'>
	    <table id='selectionTable' border='1'>
	      <tr>
		<td><input type="radio" name="sel" value="Y"
			   >Y</input></td>
		<td><input type="radio" name="sel" value="R"
			   >R</input></td>
		<td><input type="radio" name="sel" value="Z"
			   >Z</input></td>
		<td><input type="radio" name="sel" value="X"
			   >X</input></td>
		<td><input type="radio" name="sel" value="M"
			   >M</input></td>
		<td><input type="radio" name="sel" value="None"
			   >None</input></td>	      		
	      </tr>
	    </table>
	    <---select the one you like to chat.
	  </div>
	  <div id='counter'>Waiting for others</div>
	  
	  <div id='input'>
	    <textarea value='' name='words' id='words' onkeydown='if (event.keyCode == 13) send();' ></textarea>
	  </div>	  
	</div>

	 <!-- <div id="translate"></div> -->
	<div id="status"></div>
      </div>

    </div>

  </body>

</html>
