@font-face{font-family:Pacifico;src:url('Pacifico.ttf');}
#header_div {
    background-color: #B44343;
    background-image: url(./bg-top.png);
    background-repeat: repeat-x;
    height: 65px;
    border-bottom: 1px solid #E9E8E8;
}

body {
background-color: #E5E5E5;
    margin: 0 0 0 0px;
    font-weight: bold;    
}

h1 {
    font-size: 200%;
    width: 964px;    
    margin: 0 auto;
    text-align: center;    
    color: white;
    font-weight:bold;
    font-family: 'Pacifico',arial,serif;
}

h1 span {
font-size: 70%;
color: yellow;
}

#middle_div {
background-color: white;
background-image: url(bg-middle.jpg);
background-repeat: repeat;
border-bottom: 1px solid #D4D3D3;
height:100%;
}

#wrapper {
    height:100%;
    overflow:hidden;
}

#user_list {

padding:10 10 10 10px;
position: relative;
top: 10;
left: 200;
background: rgba(0, 0, 0, 0.2);
width: 900;
height: 80;
border: 1px solid #CCC;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-image: initial;
font-family: arial,serif;
font-weight:bold;
}


#status {
padding:10 10 10 10px;
position: relative;
left: 200;
top:20px;
background: rgba(0, 0, 0, 0.2);
width: 70%;
height: 70%;
border: 1px solid #CCC;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-image: initial;
font-family: arial,serif;
font-weight:bold;
overflow:auto;
}

#translate {
float:right;
padding:10 10 10 10px;
position: relative;
top:10px;
left: 0;
background: rgba(0, 0, 0, 0.2);
width: 45%;
height: 78%;
border: 1px solid #CCC;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-image: initial;
font-family: arial,serif;
font-weight:bold;
overflow:auto;
}

#words{
border: 0;
outline: 0;
width: 100%;
border-width: 0;
font-size: 20px;
height: 30px;
margin: 0;
padding: 0;
resize: none;
vertical-align: bottom;
overflow: hidden;
border: 1px solid #BDC7D8;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: -webkit-auto;
}
#select{
    float:left;
    visibility:hidden;
}
#statusTable{
    border-collapse: collapse;
    width:300;
    float:left;
}
#selectionTable{
    border-collapse: collapse;    
    float:left;
}

#counter{
    float:right;
}
